.info-article {
  background-color: #05217d;
  width: 50%;
}
.info-article:nth-child(odd) {
  background-color: #ffb000;
}
.info-article:nth-child(even) {
  background-color: #05217d;
}
.collapsed {
  height: 70px;
}
.expanded {
  overflow: auto;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
