.main-content{padding-bottom:50px;height:100%}.info-article{background-color:#05217d;float:right;width:50%}.info-article:nth-child(odd){background-color:#ffb000;float:left;margin-right:50%}.info-article:nth-child(even){margin-left:50%}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
