.barChart rect {
  fill: #05217d;
}
.barChart .vacc-text {
  fill: black;
  font-family: sans-serif;
  font-size: 16pt;
  text-anchor: start;
}
.barChart .absolute-number {
  fill: black;
  font-family: sans-serif;
  font-size: 16pt;
  text-anchor: end;
}
.main-content svg {
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 16pt;
}
div .total-number-div {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 16pt;
}
div .total-number-div .visible {
  display: block;
}
div .total-number-div .hidden {
  display: none;
}
