@baseColorBlue: #05217D;
@baseColorOrange: #FFB000;
@baseColorLight: #FFF9CE;
@footerHeight: 50px;
@mainPadding: @footerHeight;
@articleHeight: 300px;
@contentHeight: 230px;


.info-article {
	background-color: @baseColorBlue;
	text-align: left;
	margin-left: 25%;
	//float: right;
	width: 50%;
	&:nth-child(odd) {
		background-color: @baseColorOrange;
		//float: left;
		//margin-right: 50%;
	}
	
	&:nth-child(even) {
		background-color: @baseColorBlue;
		//margin-left: 50%;
	}
}

video {
	height: @contentHeight - 5;
}

.article-header {
	.control-img {
		width: 16px;
		height: 16px;
		margin-top: -45px;
		float: right;
		
		&:hover {
			cursor: pointer;
		}
	}
	
	&:hover {
		cursor: pointer;
	}
}

.collapsed {
	height: 70px;	
}

.expanded {
	height: @articleHeight;
}

.article-content() {
	height: @contentHeight;
	overflow-y: scroll;
}

.content-visible {
	.article-content;
	display: block;
}

.content-hidden {
	.article-content;
	display: none;
}
